:root{
    --color-rojo-ppal: #fc5656;
    --color-naranja-ppal: #f7a942; 
    --color-dark-ppal: #212529;
    --color-naranja-transparente: #f7a9420a;
}

/*--------------------Fuente-------------------------------------*/

.fuente{
    font-family: "SF Pro Text";
    src: url(/fuentes/FontsFree-Net-SFProDisplay-Regular.ttf);
    font-weight: 500;
    font-size: 17px;
}

/*------------------------Id reseña------------------------------*/

#tituloHistoriaResena{
    color: var(--color-rojo-ppal);
    text-align: left;
    font-weight: 500;
    font-size: 3rem;
}

#tituloHistoriaResena::after{
    content: "";
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: var(--color-naranja-ppal);
    opacity: .3;
    position: absolute;
    top: -68px;
    left: -53px;
    overflow: hidden;
}

#tituloHistoriaResena::before{
    content: "";
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: var(--color-naranja-ppal);
    opacity: .3;
    position: absolute;
    top: -50px;
    left: -40px;
    overflow: hidden;
}

#tituloHistoriaPersonal::after{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color-naranja-ppal);
    opacity: .3;
    position: absolute;
    bottom: 78px;
    right: -65px;
    overflow: hidden;
    
}

#tituloHistoriaPersonal::before{
    content: "";
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: var(--color-naranja-ppal);
    opacity: .3;
    position: absolute;
    bottom: 73px;
    right: -50px;
    overflow: hidden;
    
}


/*-------------------Ids para historia personal------------------*/

#tituloHistoriaPersonal{
    color: var(--color-rojo-ppal);
    text-align: right;
    font-weight: 500;
    font-size: 3rem;
}

#contenidoHistoriaPersonal{
    text-align: right;
}

/*-----------Overflow de las cols de historia y reseña---------*/

div.col-6.resena.scroll-banner{
    overflow: hidden;
}

div.col-6.scroll-banner1{
    overflow: hidden;
}

/*---------------------Fondo de los divs de reseña e historia personal------------------------*/

.scroll-banner{
    background-color: var(--color-naranja-transparente);
    padding: 5%;
}
.scroll-banner1{
    background-color: var(--color-naranja-transparente);
    padding: 5%;
}

/*--------Atributos de la section donde está la reseña e historia personal---------*/

#section{
    justify-content: space-between;
    margin: 4rem;
}

/*------------------Botones redes sociales (FOOTER)---------------*/

.botonSociales{
    padding: .28rem .66rem;
    font-size: 2rem;
    text-decoration: none;
    color: #212534;
    border: 0rem;
   /* background-color: rgba(252,86,86,255); */
    border-radius: 100%;
    /*background-image: linear-gradient(to left, #212529 50%, #fc5656 50%); */
    background-color: #f7a942;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right;
    transition: .12s ease-in-out;
}

.botonSociales:hover{
    color: white;
    -moz-transition: .12s  ease-out;
    -webkit-transition: .12s ease-out;
    transition: .12s linear;
}

/*---------------------Logo del navbar (Salesianos)--------------------*/

.logoNavbar{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

/*------------------Botón buscar del navbar----------------------------*/

.btnSearch {
    /* background: transparent; */
    background: linear-gradient(to left, transparent 50%, #f7a942 50%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200%;
    border-width: 5rem, #f7a942;
    border-color: #f7a942;
    border-style: solid;
    padding: 5%;
    border-radius: 10%;
    color: white;
    transition: linear .12s;
}

.btnSearch:hover {
    background-position: left;
    transition: ease-in-out .12s;
    color: black;
    font-weight: 500;
}

/*------------------------Texto del navbar-------------------------------*/

#navbar-text{
    text-decoration: none;
    color: rgb(151, 151, 151);
    font-weight: 500;
    font-size: 17px;
    align-items: center;
}

#navbar-text:hover{
    color: var(--color-naranja-ppal);
}

/*-------------------------Atributos del footer-----------------------*/

footer{
    background-color: var(--color-naranja-ppal);
    font-weight: 500;
    font-size: 17px
}

/*----------------Intento de decoración--------------------------*/
