:root{
    --color-rojo-ppal: #fc5656;
    --color-naranja-ppal: #f7a942; 
    --color-dark-ppal: #212529;
    --color-naranja-transparente: #f7a9420a;
}

/*--------------------Fuente-------------------------------------*/

.fuente{
    font-family: "SF Pro Text";
    src: url(/fuentes/FontsFree-Net-SFProDisplay-Regular.ttf);
    font-weight: 500;
    font-size: 17px;
}

/*-------------------Ids para historia personal------------------*/

#tituloHistoriaResena{
    color: var(--color-rojo-ppal);
    text-align: left;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 3rem;
}

div.scroll-banner p{
    font-size: 1rem;
}

#tituloHistoriaPersonal{
    color: var(--color-rojo-ppal);
    text-align: right;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 3rem;
}

#contenidoHistoriaPersonal{
    text-align: right;
}

/*-----------------Responsive del contenido de la reseña----------*/

@media screen and (max-width: 600px) {

    #tituloHistoriaResena {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    div.scroll-banner p{
        font-size: .9rem;
    }

    #tituloHistoriaPersonal{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    #contenidoHistoriaPersonal{
        font-size: .9rem;
    }

    #tituloHistoriaResena::after{
        content: "";
        display: block;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: var(--color-naranja-ppal);
        opacity: 0;
        position: absolute;
        top: -68px;
        left: -53px;
        overflow: hidden;
    }
    
    #tituloHistoriaResena::before{
        content: "";
        display: block;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: var(--color-naranja-ppal);
        opacity: 0;
        position: absolute;
        top: -50px;
        left: -40px;
        overflow: hidden;
    }
}

@media screen and (max-width: 400px) {
    #tituloHistoriaResena {
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
    }

    div.scroll-banner p{
        font-size: .7rem;
    }

    #tituloHistoriaPersonal{
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
    }

    #contenidoHistoriaPersonal{
        font-size: .7rem;
    }

}

/*-----------Overflow de las cols de historia y reseña---------*/

div.col-6.resena.scroll-banner{
    overflow: hidden;
}

div.col-6.scroll-banner1{
    overflow: hidden;
}

/*---------------------Fondo de los divs de reseña e historia personal------------------------*/

.scroll-banner{
    background-color: var(--color-naranja-transparente);
    padding: 5%;
}
.scroll-banner1{
    background-color: var(--color-naranja-transparente);
    padding: 5%;
}

/*--------Atributos de la section donde está la reseña e historia personal---------*/

#section{
    justify-content: space-between;
    margin: 4rem;
}

/*------------------Botones redes sociales (FOOTER)---------------*/

.botonSociales{
    padding: .28rem .66rem;
    font-size: 2rem;
    text-decoration: none;
    color: #212534;
    border: 0rem;
   /* background-color: rgba(252,86,86,255); */
    border-radius: 100%;
    /*background-image: linear-gradient(to left, #212529 50%, #fc5656 50%); */
    background-color: #f7a942;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right;
    transition: .12s ease-in-out;
}

.botonSociales:hover{
    color: white;
    -moz-transition: .12s  ease-out;
    -webkit-transition: .12s ease-out;
    transition: .12s linear;
}

/*---------------------Logo del navbar (Salesianos)--------------------*/

.logoNavbar{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

/*------------------Botón buscar del navbar----------------------------*/

.btnSearch {
    /* background: transparent; */
    background: linear-gradient(to left, transparent 50%, #f7a942 50%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200%;
    border-width: 5rem, #f7a942;
    border-color: #f7a942;
    border-style: solid;
    padding: 5%;
    border-radius: 10%;
    color: white;
    transition: linear .12s;
}

.btnSearch:hover {
    background-position: left;
    transition: ease-in-out .12s;
    color: black;
    font-weight: 500;
}

/*------------------------Texto del navbar-------------------------------*/

#navbar-text{
    text-decoration: none;
    color: rgb(151, 151, 151);
    font-weight: 500;
    font-size: 17px;
    align-items: center;
}

#navbar-text:hover{
    color: var(--color-naranja-ppal);
}

/*-------------------------Atributos del footer-----------------------*/

footer{
    background-color: var(--color-naranja-ppal);
    font-weight: 500;
    font-size: 17px
}


.imagenPrimaria {
    width: 50%;
    display: flex;
    align-content: center;
}

.tituloRojo {
        font-weight: 500;
        font-size: 3rem;
        margin: 1rem;
}

.contenido {
      margin-left: 1rem
}

.bachillerato {
    background-color: var(--color-rojo-ppal);
}
.primaria {
    background-color: var(--color-naranja-ppal);
}

/* ---- Botón registro ----- */

.btnRegistro {
    background: transparent;
    margin-bottom: 3rem;
    width: 5px;
    height: 1px;
    background: linear-gradient(to left, transparent 50%, var(--color-rojo-ppal) 50%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200%;
    text-decoration: none;
    border-width: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-color: var(--color-rojo-ppal);
    border-style: solid;
    padding: 2% 6% 4.5% 6%;
    border-radius: 15px;
    color: black;
    font-size: 20px;
    transition: linear .12s;
}

.btnRegistro:hover {
    background-position: left;
    transition: ease-in-out .12s;
    color: white;
    font-weight: 500;
}

/* --- Borde registro --- */

div.bordeRegistro {
    border: 2px solid #fc5656;
    border-radius: 10px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* --- Boton Registro formulario */

.btnRegistroForm {
    background: transparent;
    /* margin-top: 50rem; */
    /* width: 5px;
    height: 1px; */
    background: linear-gradient(to left, var(--color-rojo-ppal) 50%, var(--color-dark-ppal) 50%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200%;
    text-decoration: none;
    border-width: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-color: var(--color-rojo-ppal);
    border-style: solid;
    padding: 2% 6% 2% 6%;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    transition: linear .12s;
}

.btnRegistroForm:hover {
    background-position: left;
    transition: ease-in-out .12s;
    color: white;
    font-weight: 500;
    border-color: var(--color-dark-ppal);
}

/* --- p Experiencia bto --- */

.experienciaBto {
    font-size: 1rem;
    text-align: justify;
}
.tituloBto {
    font-size: 2.6rem;
    color: var(--color-rojo-ppal);
}

.tituloBto2 {
    font-size: 1.9rem;
    margin-top: 105px;
}

/* --- btn registro 2 --- */

.btnRegistro2 {
    background: transparent;
    margin: 3rem;
    width: 5px;
    height: 1px;
    background: linear-gradient(to left, transparent 50%, var(--color-rojo-ppal) 50%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200%;
    text-decoration: none;
    border-width: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-color: var(--color-rojo-ppal);
    border-style: solid;
    padding: 1% 6% 3.5% 6%;
    border-radius: 15px;
    color: black;
    font-size: 1.2rem;
    transition: linear .12s;
}

.btnRegistro2:hover {
    background-position: left;
    transition: ease-in-out .12s;
    color: white;
    font-weight: 500;
}

/* --- btn registro formulario 2 --- */

.btnRegistroForm2 {
    background: transparent;
    /* margin-top: 50rem; */
    /* width: 5px;
    height: 1px; */
    background: linear-gradient(to left, var(--color-rojo-ppal) 50%, var(--color-dark-ppal) 50%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200%;
    text-decoration: none;
    border-width: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-color: var(--color-rojo-ppal);
    border-style: solid;
    padding: 2% 6% 2% 6%;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    transition: linear .12s;
}

.btnRegistroForm2:hover {
    background-position: left;
    transition: ease-in-out .12s;
    color: white;
    font-weight: 500;
    border-color: var(--color-dark-ppal);
}



